/* ==========================================================================
   CANDLESTICK CHART (BEM)
   Block: candlestick-chart
   Lightweight-charts wrapper component
   ========================================================================== */

.candlestick-chart {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.candlestick-chart__canvas {
  flex: 1;
  min-height: 0;
}

/* ==========================================================================
   MODIFIERS
   ========================================================================== */

.candlestick-chart--auto-height {
  flex: 1;
  height: 100%;
}

.candlestick-chart--auto-height .candlestick-chart__canvas {
  height: 100%;
}
